
<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>MCUBE FITNESS</title>
	<meta charset="UTF-8">
	<meta name="description" content="mcube fitness">
	<meta name="keywords" content="fitness, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% load static %}
	<!-- Favicon -->
	<link href="{% static 'img/favicon.ico' %}" rel="shortcut icon"/>

	<!-- Google font -->
	<link href="{% static 'https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap' %}" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/flaticon.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}"/>

	<!-- Main Stylesheets -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


	<!--[if lt IE 9]>
		<script src="{% static 'https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' %}"></script>
		<script src="{% static 'https://oss.maxcdn.com/respond/1.4.2/respond.min.js' %}"></script>
	<![endif]-->


</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header class="header-section">
		<a href="{% url 'home' %}" class="site-logo">
			<img src="{% static 'img/logo.png' %}" alt="">
		</a>

			<ul class="nav nav-tabs main-menu" id="myTabs">
        <li class="nav-item">
            <a class="nav-link active " id="tab-1-tab" data-toggle="tab" href="#tab-1">Trainers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " id="tab-2-tab" data-toggle="tab" href="#tab-2">Marketplace</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " id="tab-2-tab" data-toggle="tab" href="#tab-3">Subscriptions</a>
        </li>
         <li class="nav-item">
            <a class="nav-link  " id="tab-2-tab" data-toggle="tab" href="#tab-4">Classes</a>
        </li>



			<li class="header-right">
				<div class="hr-box">
					<img src="{% static 'img/location-icon.png' %}" alt="">
										<h6>123 Nairobi, Kenya</h6>

				</div>
			</li>
		</ul>
	</header>
	<div class="clearfix"></div>
<!-- Tabs -->
<div class="container">


    <div class="tab-content">
        <div class="tab-pane active show" id="tab-1">
            <!-- Trainer details go here -->
            <h3>Update your Trainers</h3>

                <form action="/update/{{ mytrainer.id }}" method="post"class="p-5">
                    <label for="image" class="form-label">Change Image</label>
                    <input type="image" id="image" name="image" value="{{ mytrainer.image.url }}" class="form-control" required><br><br>
                    <input type="text" name="name" value="{{ mytrainer.name }}" placeholder="Enter new Name" class="form-control" required><br><br>
                    <input type="text" name="description" value="{{ mytrainer.speciality }}" placeholder="Change Speciality" class="form-control" required>
                    <input type="text" name="description" value="{{ mytrainer.specialitydescription }}" placeholder="Change Speciality description" class="form-control" required>
                    <br><br>
                    <div class="row">
                        <div class="col"><button type="submit" >UPDATE</button></div>
                        <div class="col"><a href="{% url 'manage' %}">VIEW Changes</a></div>
                    </div>

                </form>

        </div>
        <div class="tab-pane" id="tab-2">
            <!-- Marketplace details go here -->
            <h3>The Marketplace</h3>

        <form action="/update/{{ myproduct.id }}" method="post" class="p-5">
                    <label for="image" class="form-label">Change Image</label>
                    <input type="image" id="image" name="image" value="{{ myproduct.image.url }}" class="form-control" required><br><br>
                    <input type="text" name="name" value="{{ myproduct.title }}" placeholder="Enter new Title" class="form-control" required><br><br>
                    <input type="number" name="stock" value="{{ myproduct.stock}}" placeholder="Change Stock"  class="form-control" required>
                    <input type="number" name="price" value="{{ myproduct.price}}" placeholder="Change Price"  class="form-control" required>
            <br><br>
                    <div class="row">
                        <div class="col"><button type="submit" >UPDATE</button></div>
                        <div class="col"><a href="{% url 'manage' %}">VIEW Changes</a></div>
                    </div>
                </form>
        </div>


    <div class="tab-pane" id="tab-4">

              <h6 class="text-dark text-center">Update CLASSES</h6>


       <form action="/update/{{ mytrainer.id }}" method="post" class="p-5">
                    <label for="image" class="form-label">Change Image</label>
                    <input type="image" id="image" name="image" value="{{ myclass.classimage.url }}" class="form-control" required><br><br>
                    <input type="text" name="name" value="{{ myclass.classname }}" placeholder="Enter new Name" class="form-control" required><br><br>
                    <input type="text" name="details" value="{{ myclass.classdetails }}" placeholder="Change Details" class="form-control" required>
                    <br><br>
                    <div class="row">
                        <div class="col"><button type="submit" >UPDATE</button></div>
                        <div class="col"><a href="{% url 'manage' %}">VIEW Changes</a></div>
                    </div>

                </form>
        </div>
    </div>
</div>

<footer class="footer-section set-bg" data-setbg="{% static 'img/footer-bg.jpg' %}">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget">
						<h4>Location</h4>
						<div class="fw-info-box">
							<img src="{% static 'img/icons/1.png' %}" alt="">
							<div class="fw-info-text">
								<p>123 Nairobi, Kenya</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget">
						<h4>Subscriptions</h4>
						<div class="fw-info-box">
							<img src="{% static 'img/icons/2.png' %}" alt="">
							<div class="fw-info-text">
								<p>+254 793 587 703</p>
								<p>+254 793 587 703</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget">
						<h4>E-mail</h4>
						<div class="fw-info-box">
							<img src="{% static 'img/icons/3.png' %}" alt="">
							<div class="fw-info-text">
								<p>mcubefitness@gmail.com</p>
								<p>www.mcubefitness.com</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget">
						<h4>The Admin Interface</h4>
						<div class="fw-info-box">
                            <a href="{% url 'manage' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
							<div class="social-links">
								<a href="{% url 'manage'  %}" class="" style="font-weight: bolder;color: #ffffff; font-size: 15px; text-decoration: none">Manage <br>MCUBE FITNESS <br>Gym</a>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 order-2 order-md-1">
					<div class="copyright"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made by <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Mathew Maingi</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
				</div>
				<div class="col-md-6 order-1 order-md-2">
					<ul class="footer-menu">
						<li><a href="{% url 'home' %}">Home</a></li>
						<li><a href="{% url 'about' %}">About Us</a></li>
						<li><a href="{% url 'classes' %}">Classes</a></li>
						<li><a href="{% url 'blog' %}">News</a></li>
						<li><a href="{% url 'contact'%}">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer section end -->

	<!--====== Javascripts & Jquery ======-->
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'js/jquery.slicknav.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/circle-progress.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>


<script>
    // Initialize Bootstrap tabs
    $(document).ready(function () {
        $('#myTabs a').on('click', function (e) {
            e.preventDefault()
            $(this).tab('show')
        });
    });
</script>
	</body>
</html>

