{% extends 'layout.html' %}
{% load static %}
{% block body %}
	<!-- Header section end -->

	<!-- Page top section -->
	<section class="page-top-section set-bg" data-setbg="{% static 'img/header-bg/4.jpg' %}">
		<div class="container">
			<h2>Contact</h2>
		</div>
	</section>
	<!-- Page top section end -->

	<!-- Contact section -->
	<section class="contact-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<h2 class="contact-title">Contact Info</h2>
					<div class="contact-info-warp">
						<h4>Location</h4>
						<div class="contact-info">
							<img src="{% static 'img/icons/1-dark.png' %}" alt="">
							<div class="cf-text">
								<p>123 Nairobi, Kenya</p>
							</div>
						</div>
					</div>
					<div class="contact-info-warp">
						<h4>Subscriptions</h4>
						<div class="contact-info">
							<img src="{% static 'img/icons/2-dark.png' %}" alt="">
							<div class="cf-text">
								<p>+254 765 678 543</p>
								<p>+254 754 654 324</p>
							</div>
						</div>
					</div>
					<div class="contact-info-warp">
						<h4>E-mail</h4>
						<div class="contact-info">
							<img src="{% static 'img/icons/3-dark.png' %}" alt="">
							<div class="cf-text">
								<p>mcubeefitness@gmail.com</p>
								<p>www.mcubefitness.com</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-8">
					<h2 class="contact-title">Get in touch</h2>
					<form class="contact-form" method="post">
                        {% csrf_token %}
						<div class="row">
							<div class="col-md-6">
								<input type="text" placeholder="Your name" name="contactname">
							</div>
							<div class="col-md-6">
								<input type="text" placeholder="Your e-mail" name="email">
							</div>
							<div class="col-md-12">
								<input type="text" placeholder="Subject" name="subject">
								<textarea placeholder="Message" name="message"></textarea>
								<button class="site-btn" type="submit">Send Message</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14376.077865872314!2d-73.879277264103!3d40.757667781624285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1546528920522" style="border:0" allowfullscreen></iframe></div>
	</section>
	<!-- Contact section end -->
<!-- Newsletter section  -->
	<section class="newsletter-section set-bg" data-setbg="{% static 'img/newsletter-bg.jpg' %}">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="section-title text-white mb-0">
						<h2>Subscribe to <span>newsletter</span></h2>
					</div>
				</div>
				<div class="col-lg-6">
                   <div class="section-title text-white mb-0">
                    <form method="post" action="{% url 'subscribe' %}" class="newsletter-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                   <button type="submit" >Subscribe</button>
              </form>
                </div>
				</div>
			</div>
		</div>
	</section>
	<!-- Newsletter section end -->


{% endblock %}